<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>getMap</servlet-name>
		<servlet-class>com.web.rest.server.Map</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.web.rest.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>deleteAllBusLocation</servlet-name>
		<servlet-class>com.web.rest.server.DeleteAllBusLocation
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>addBusLocation</servlet-name>
		<servlet-class>com.web.rest.server.AddBusLocation</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>listBusLocation</servlet-name>
		<servlet-class>com.web.rest.server.ListBusLocation</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>listBusLocation</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>getMap</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addBusLocation</servlet-name>
		<url-pattern>/newBusLocation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>deleteAllBusLocation</servlet-name>
		<url-pattern>/deleteAll</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>BusTracker.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet
		</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>